<div class="row">
    <div class="col-xs-12">
        <img [src]="recepie.imagePath" alt="" class="img-response">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{recepie.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button type="button" 
                    class="btn btn-primary dropdown-toggle"
                    >Manage Recipe <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a (click)="addToShoppingList()" style="cursor:pointer;">To Shopping List</a></li>
                <li><a (click)="onEditRecepie()">Edit Recipe</a></li>
                <li><a (click)="onDeleteRecepie()">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recepie.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12" *ngFor="let ing of recepie.ingredients">
        {{ing.name}} ({{ing.amount}})
    </div>
</div>
